body {
font-family: Arial, sans-serif;
background: #f2f4f7;
padding: 16px;
transition: 0.3s;
}

.dark {
background: #121212;
color: white;
}

section {
background: white;
padding: 15px;
margin-bottom: 15px;
border-radius: 10px;
}

.dark section {
background: #1e1e1e;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
}

input, select, button {
width: 100%;
padding: 8px;
margin-top: 6px;
margin-bottom: 6px;
}

.progress {
height: 20px;
background: #ddd;
border-radius: 10px;
overflow: hidden;
}

.progress-bar {
height: 100%;
background: green;
}
.red { color: red; }
.orange { color: orange; }
.green { color: green; }
